.nav-link{
    display:inline ;
    /* color:rgb(246, 255, 0); */

}

.nav-link:hover{
    /* color:rgb(0, 255, 247); */
}

.footer_{
    background-color: rgb(233, 37, 37);
    color:white;
}

.f_link:hover
{
    color: rgb(234, 255, 4);
}

.web_link
{
    color: rgb(0, 255, 238);
}