.nav-item-1{

    margin-left: 2rem;
    color: white;
}

.navbar-nav .nav-link.active
{
    color: rgb(0, 242, 255);
}

.nav1
{
    color: white;
}

.nav1:hover
{
    color:black;
    background-color:rgb(234, 255, 4);
}

.navbar-nav .nav1 .active
{
    color: white;
}



.nav-item-2
{
    color: white;
}

.nav-item-2:hover
{
    background-color: #f40076;
    color: white;
}

.h_text{
    margin: 0.4rem;
    margin-left: 5rem;
}     

.right-side{
    margin-left: 2rem;
}

.logo1{
    padding-bottom: 1rem;
    margin-left: 2.5rem;
}

.logoMy
{
    margin-bottom:-1rem;
}

.Q1
{
    color: rgb(0, 255, 247);
}
.C1
{
    color: rgb(252, 92, 0);
}

.logo_name
{
    font-size: 2.5rem;
    margin-left: 0.8rem;
    font-weight: bold;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar_right
{
    margin-left: 32em;
}

.navbar_css{
    background-color: #05628d;
    font-size: 16px;
    font-weight: 500;
}

.navbar_css-2{
    background-color: rgb(0, 150, 200);
    padding-top: 5rem;
    font-size: 16px;
    font-weight: 500;
}

.position_css
{
    position: fixed;
    width: 100%;
}

.cart-text
{
    font-size: 1.2rem;
}

.fa-cart-shopping
{
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: rgb(234, 255, 4);
} 

.fa-user
{
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(234, 255, 4);
} 